  <div class="row">
    <div class="form-group col-md-8">
      <%= project_form.label :name %>
      <%= project_form.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= project_form.label :due_date %>
      <%= project_form.date_field :due_date,{value: Date.today,class:"form-control"} %>
    </div>

    <div class="form-group col-md-2">
      <%= project_form.label :status %>
      <%= project_form.select(:status,ApplicationHelper::PROJECT_STATUS.map{|s|[s]},{},class:"form-control") %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <%= project_form.label :description %>
      <%= project_form.text_area :description, class:"form-control" %>
    </div>
  </div>
