<div>
  <div class="row my-2">
    <div class="col-md-7">
      <h6>Team Name:</h6>
      <h3><strong><%= @team.name %></strong></h3>   
      <strong>Active: </strong><%= "#{team_activity(@team)       }" %>
    &nbsp;&nbsp;&nbsp;
    <strong>Owner:</strong>
    <span class="h6"><%= team_owner(@team).name %></span>

    <% if (team_owner(@team).id == current_user.id) && @team.active? %>
      <p>
        <%=link_to('Invite New Members to Join Team',team_path(@team) + '#user_name', class:"btn btn-primary btn-sm pull-right") %>
      </p>
    <% end %>
    <hr/>
    <h5>Team Members <span class="badge badge-pill badge-primary"><%= active_members(@team).size %></span><h5/>
        <%= render "/shared/team_members", team: @team %>
    </div>
    <div class="col-md-5 my-4 border-left border-primary">
      <h5><%= "#{@team.name} Projects" %></h5>
      <% team_projects_count = @team.projects.count %>
      <h5><strong>Active Projects</strong> <span class=" h6 badge badge-primary badge-pill"><%= team_projects_count %></span> </h5>
      <p><%= link_to('Add New Project to Team',new_team_project_path(@team),class:"btn btn-primary btn-sm pull-right") %><p>
          <hr/>
          <% if team_projects_count > 0 %>
            <%= render "/shared/team_projects",team: @team %>
          <% else %>
            <p>No active projects yet<p>
              <% end %>
    </div>
  </div>
</div>
<p class="text-center">
  <%= link_to 'Edit Team', edit_team_path(@team), class: "btn btn-warning btn-sm" %> |
  <%= link_to 'View All Teams', teams_path,class: "btn btn-secondary btn-sm" %>
</p>
<p>
</p>
<hr/>
<% if (team_owner(@team).id == current_user.id) && @team.active? %>
  <%= render "/shared/user_invitation" %> 
<% else %>
  <p class="alert alert-info">
    You can't add members to this team because you are not the owner.
  </p>
<% end %>

