<p>
  <strong>User:</strong>
  <%= @assignment.user.full_name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @assignment.task.title %>
</p>

<p>
  <strong>Assigned on:</strong>
  <%= @assignment.assigned_on %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
