<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= task_status(@task) %>
</p>

<%= link_to 'Edit', edit_team_project_task_path(params[:team_id],params[:project_id],@task) %> |
<%= link_to 'Back', team_project_tasks_path(params[:team_id],params[:project_id]) %>
