<% teams = [] %>
<% projects = []%>
<% total_projects_count = 0 %>
<% current_user.teams.includes(:projects).each do |team| %>
  <% teams << team %>
  <% team.projects.each do |project| %>
    <% projects << project %>
    <% total_projects_count +=1 %>
  <% end %>
<% end %>

<div>
  <div class="row my-2">
    <h5>Welcome <%= current_user.full_name %> </h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span class="h5">My Teams <span class="h6 badge badge-pill badge-primary"><%= current_user.teams.count %></span></span><%= link_to("+", new_team_path,class: "btn btn-primary btn-sm pull-right") %>
    <hr/>
    <%= render "/shared/my_teams",teams: teams %>
    </div>
    <div class="col-md-4 border-left">
      <span class="h5">My Projects <span class=" h6 badge badge-primary badge-pill"><%= total_projects_count %></span> </span><%= link_to("+", root_path,class: "btn btn-primary btn-sm pull-right") %>
    <hr/>
    <%= render "/shared/my_projects",projects: projects %>
    </div>
    <div class="col-md-4 border-left">
      <span class="h5">My Tasks </span>
      <hr/>
    </div>
  </div>
</div>
