<% teams = [] %>
<% projects = []%>
<% tasks = [] %>
<% total_projects_count = 0 %>
<% total_tasks_count =0 %>
<% current_user.teams.includes(:projects).each do |team| %>
  <% teams << team %>
  <% team.projects.each do |project| %>
    <% projects << project %>
    <% total_projects_count +=1 %>
    <% project.tasks.each do |task| %>
      <% tasks << task  %>
      <% total_tasks_count +=1 %>
    <% end %>
  <% end %>
<% end %>

<div>
  <div class="row my-2">
    <h5>Welcome <%= current_user.name %> </h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span class="h5">My Teams <span class="h6 badge badge-pill badge-primary"><%= current_user.teams.count %></span></span>
      <%= link_to("+", new_team_path,class: "btn btn-primary btn-sm pull-left") %>
      <hr/>
      <%= render "/shared/my_teams",teams: teams %>
    </div>
    <div class="col-md-4 border-left">
      <span class="h5">My Projects <span class=" h6 badge badge-primary badge-pill"><%= total_projects_count %></span> </span>
      <hr/>
      <%= render "/shared/my_projects",projects: projects %>
    </div>
    <div class="col-md-4 border-left">
      <span class="h5">My Tasks <span class="h6 badge badge-primary badge-pill"><%= total_tasks_count %></span></span>
      <hr/>
      <%= render "/shared/my_tasks",tasks: tasks %>
    </div>
  </div>
</div>
