<div class="row">
  <div class="col-md-3">
    <strong>Invite users</strong>
    <hr/>
  </div>
  <div class="col-md-9 border-left border-primary">
    Invite users to create an account and join this team.Each user will be sent a confirmation email in which they can supply their own unique password.
  </div>
</div>
<div class ="row">
  <div class="col-md-4">
    <%= form.fields_for :users do |users_form| %>
      <div class="form-group">
        <%= users_form.label :first_name %>
        <%= users_form.text_field :first_name,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= users_form.label :last_name %>
        <%= users_form.text_field :last_name,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= users_form.label :email %>
        <%= users_form.text_field :email,class: "form-control" %>
      </div>

    <% end %>
  </div>
  <div class="col-md-2" >

  </div>
    <div class="col-md-6">
      <strong>Team Members </strong><span class="badge badge-primary badge-pill"><%= 3 %></span>

      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% [{first_name: "Enow",last_name: "Mbi",email: "benowmbi@gmail.com"},{first_name: "Aaron",last_name: "Peterson",email:"aaron_peterson@rails.org"},{first_name: "Ben",last_name: "Orenstein",email: "ben_orenstein@thoughtbot.com"}].each do |user| %>
            <tr>
              <td><%= "#{user[:first_name]} #{user[:last_name]}" %></td>
              <td><%= user[:email] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
</div>

