<div>
  <div class="row ">
    <div class="form-group col-md-6">
      <%= task_form.label :title %>
      <%= task_form.text_field :title,class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= task_form.label :priority %>
      <%= task_form.select(:priority,["High","Medium","Low"].map{|s|[s]},{},{class:"form-control"}) %>
    </div>
    <div class="form-group col-md-2">
      <%= task_form.label :due_date %>
      <%= task_form.date_field :due_date,{value: Date.today,class:"form-control"} %>
    </div>
    <div class="form-group col-md-2">
      <%= task_form.label :status %>
      <%= task_form.select(:status,["Incomplete","Complete"].map{|s|[s]},{},{class:"form-control"}) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <%= task_form.label :description %>
      <%= task_form.text_area :description,class: "form-control" %>
    </div>
  </div>
</div>
