<h1>Editing Project</h1>

<%= form_for([@team,@project], local: true) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :due_date %>
      <%= form.date_field :due_date,{value: Date.today,class:"form-control"} %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :status %>
      <%= form.select(:status,ApplicationHelper::PROJECT_STATUS.map{|s|[s]},{},class:"form-control") %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <%= form.label :description %>
      <%= form.rich_text_area :description %>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>

<%= link_to 'Show', team_project_path(params[:team_id],@project) %> |
<%= link_to 'Back', team_projects_path(params[:team_id]) %>
