<h1>Projects</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.status %></td>
        <td><%= link_to 'Show', team_project_path(params[:team_id],project),class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_team_project_path(params[:team_id],project), class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', team_project_path(params[:team_id],project), method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_team_project_path,class:"btn btn-primary" %>
