<% team_id = params[:team_id] %>
<h1>Projects</h1>

<table class="table table-responsive table-sm">
  <thead>
    <tr>
      <th>Name <%= sort_by_project_name_asc(team_id) %><%= sort_by_project_name_desc(team_id) %></th>
      <th>Due Date <%= sort_by_project_due_date_asc(team_id) %><%= sort_by_project_due_date_desc(team_id) %></th>
      <th>Complete <%= sort_by_project_complete_asc(team_id) %><%= sort_by_project_complete_desc(team_id) %></th>
      <th>Active <%= sort_by_project_active_asc(team_id) %><%= sort_by_project_active_desc(team_id) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.due_date %></td>
        <td><%= project_status(project) %></td>
        <td><%= project_activity(project) %></td>
        <td><%= link_to 'Show', team_project_path(team_id,project),class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_team_project_path(team_id,project), class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', team_project_path(team_id,project), method: :delete, data: { confirm: "Are you sure you want to delete this project (#{project.name})?" },class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_team_project_path,class:"btn btn-primary" %>
