<% team_id = params[:team_id]  %>
<h5><strong> Project Details </strong></h5>
<hr/>
<div class= "row">
  <div class="col-md-6">
    <strong>Name:</strong>
    <%= @project.name %>
  </div>
  <div class="col-md-3">
    <strong>Activity:</strong>
    <%= @project.active? ? 'Active' : 'Incomplete' %>
  </div>
  <div class="col-md-3">
    <strong>Complete:</strong>
    <%= @project.complete? ? 'Complete' : 'Incomplete' %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <strong>Description:</strong>
    <p>
      <%= @project.description %>
    </p>
  </div>
</div>
<div class="text-center">
  <hr/>
  <%= link_to 'Edit', edit_team_project_path(team_id,@project),class: "btn btn-warning" %> |
  <%= link_to 'Back', team_projects_path(team_id),class: "btn btn-secondary" %>
  <hr/>
</div>
<div class="row">
  <div class="col-12">
    <h5><strong>Tasks</strong></h5>
    <%= link_to 'Add Task to this Project',new_team_project_task_path(params[:team_id],@project),class: "btn btn-primary btn-sm pull-right" %> 
    <% if @project.tasks_count > 0 %>
      <%=  render "/shared/tasks",{team_id: team_id,project_id: @project.id} %>
    <% else %>
    <hr/>
      <p>No task yet. <%= link_to('Add one',new_team_project_task_path(params[:team_id],@project)) %>
    <% end %>
  </div>
</div>

