<h5><strong> Project Details </strong></h5>
<hr/>
<div class= "row">
  <div class="col-md-6">
    <strong>Name:</strong>
    <%= @project.name %>
  </div>
  <div class="col-md-3">
    <strong>Activity:</strong>
    <%= @project.active? ? 'Active' : 'Incomplete' %>
  </div>
  <div class="col-md-3">
    <strong>Status:</strong>
    <%= @project.complete? ? 'Complete' : 'Incomplete' %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <strong>Description:</strong>
    <p>
      <%= @project.description %>
    </p>
  </div>
</div>
<div class="text-center">
  <hr/>
  <%= link_to 'Edit', edit_team_project_path(params[:team_id],@project),class: "btn btn-warning" %> |
  <%= link_to 'Back', team_projects_path(params[:team_id]),class: "btn btn-secondary" %>
  <hr/>
</div>
<div class="row">
  <div class="col-12">
    <h5><strong>Tasks</strong></h5>
    <%= link_to 'Add Task to this Project',new_team_project_task_path(params[:team_id],@project),class: "btn btn-primary btn-sm pull-right" %> 
    <% if @project.tasks_count > 0 %>

      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.title %></td>
              <td><%= task.description %></td>
              <td><%= task.priority %></td>
              <td><%= task_status(task) %></td>
              <td><%= link_to 'Show', team_project_task_path(params[:team_id],params[:id],task),class:"btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Edit', edit_team_project_task_path(params[:team_id],params[:id],task),class:"btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Destroy', team_project_task_path(params[:team_id],params[:id],task), method: :delete, data: { confirm: "Are you sure this task (#{task.title}) ?" },class:"btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
    <hr/>
      <p>No task yet. <%= link_to('Add one',new_team_project_task_path(params[:team_id],@project)) %>
    <% end %>
  </div>
</div>

