<!DOCTYPE html>
<html>
  <head>
    <title><%=t('app_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/shared/navbar" %>
    <section>
        <% if !flash[:notice].blank? %>
          <div class="alert alert-success" role="alert"> <%= flash[:notice] %></div>
        <% end %>

        <% if !flash[:warning].blank? %>
          <div class="alert alert-warning" role="alert"> <%= flash[:warning] %></div>
        <% end %>
        <div class="container my-4">
          <%= yield %>
        </div>
        <p></p>
    </section>
    <%= render "/shared/footer" %>
  </body>
</html>
